* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(../images/landing\ page.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #FBB034;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-block: 30px;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
}


nav ul {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

nav li a {
    flex-direction: row;
    color: white;
    text-align: center;
    padding: 70px;
    text-decoration: none;
}

nav li a:hover {
    color: #FBB034;
}

main {
    display: flex;
    justify-content: space-between;
}

.contact-text {
    display: flex;
    font-size: 18px;
}

.contact-text h2 {
    text-align: center;
    margin-left: 15px;
    padding-top: 80px;
}

.form1 {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}

#nome,
#email {
    display: flex;
    width: 400px;
    height: 25px;
    background-color: #c9b18b;
    border-radius: 5px;
    border: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#nome,
#email::placeholder {
    text-align: center;
    font-weight: 400;
}

#mensagem {
    display: flex;
    width: 400px;
    height: 100px;
    background-color: #c9b18b;
    border-radius: 5px;
    border: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


.botao-enviar {
    display: flex;
    flex-direction: row;
}


.botao {
    align-items: center;
    width: 300px;
    margin: 0 auto;
    background-color: #FBB034;
    color: #000;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #c9b18b;
}

.image-button img {
    width: 350px;
    height: 120px;
    cursor: pointer;
}


.map-image {
    display: flex;
    padding: 90px;
    padding-top: 5px;
}

.map-image img {
    width: 550px;
    height: 250px;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: row;
}

.address {
    display: block;
    flex-direction: row;
}

.address h2 {
    text-align: center;
    color: #FBB034;
    align-items: center;
    margin-top: -45px;
    padding-left: 720px;
}

@media (max-width: 425px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        max-width: 100vw;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav li a {
        padding: 25px;
    }

    main {
        display: flex;
        flex-direction: column;
    }


    .contact-text {
        display: flex;
        font-size: 18px;
    }

    .contact-text h2 {
        text-align: center;
        margin-left: 15px;
        padding-top: 20px;
    }

    .form1 {
        flex-direction: column;
        padding-bottom: 20px;
    }

    #nome,
    #email {
        display: flex;
        width: 350px;
        height: 25px;
        background-color: #c9b18b;
        border-radius: 5px;
        border: 0;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }

    #nome,
    #email::placeholder {
        text-align: center;
        font-weight: 400;
    }

    #mensagem {
        display: flex;
        width: 350px;
        height: 100px;
        background-color: #c9b18b;
        border-radius: 5px;
        border: 0;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }


    .botao-enviar {
        display: flex;
        flex-direction: row;
    }


    .botao {
        align-items: center;
        width: 250px;
        margin: 0 auto;
        background-color: #FBB034;
        color: #000;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        transition: background-color 0.3s ease;
    }

    .botao:hover {
        background-color: #c9b18b;
    }

    .image-button img {
        width: 350px;
        height: 120px;
        cursor: pointer;
    }

    .map-image {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-left: 25px;
    }

    .map-image img {
        display: flex;
        margin: 0 auto;
        align-items: center;
        width: 330px;
        height: 170px;
    }

    .address {
        display: flex;
        padding-bottom: 70px;
    }

    .address h2 {
        display: flex;
        font-size: 20px;
        color: #FBB034;
        align-items: center;
        padding-left: 75px;
    }

}